## 07. 컬렉션 타입 이해 -1 List

### Collection : 모음

**어떤 목적으로 생겼을까?**
    1. list
    2. tuple

**List**
 * 복수개의 값을 담을 수 있는 데이터 구조.
 * 순서가 존재, 차례가 존재함. 
 * mutable, 생성된 후 변경 가능.

**tuple**
 * immutable, 생성된 후 변경 불가.

### list

0. **list 초기화**

In [3]:
b = [] #리스트 초기화
a = [1, 2, 3, 5, 10]
a

[1, 2, 3, 5, 10]

In [16]:
c = ['korea', 'canada', 1, 32, [34,56]] #다양한 데이터 타입을 담을 수 있음.
print(c)

['korea', 'canada', 1, 32, [34, 56]]

### list 함수 

1. **list()**
 - 다른 데이터 타입을 list로 변환할 때 사용

In [113]:
a = 'hello world'
b = list(a)
b

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [15]:
c = (1,3,2) #튜플 
list(c) #튜플 -> list로

[1, 3, 2]

 2. **string split함수**

In [115]:
a = 'hello,world,nice,weather'
b = a.split(sep = ',')

print(b)
print(b[1:])

['hello', 'world', 'nice', 'weather']
['world', 'nice', 'weather']

3. **indexing**

In [55]:
# a = 'hello,world,nice,weather'
a[1],a[-1]

('e', 'r')

In [63]:
b[1],b[-1]

('world', 'weather')

In [66]:
a[0] = 'k' #string은 변환 불가

TypeError: 'str' object does not support item assignment

In [67]:
A = list(a)
A[0] = 'k' #list는 변환 가능

In [68]:
a

'hello,world,nice,weather'

> 문자열과 list의 차이점을 볼 수 있다.
문자열 같은 경우 immutable의 형식을 띄고 있다. 
그래서 문자열을 변경할 때,

```python
a[1] = k #라고 직관적으로 생각이 가능하지만 불가능 (문자열은 tuple의 형식을 띈다. 
```
> 문자열을 변경하고 싶다면 
1. replace()를 사용
2. 'k' + a[1:]
3. 새로운 변수 생성
>을 하는 방법이 있다. 

정리해보자면 
* **list는 각 인덱스별로 control이 가능**
* **string타입은 tuple의 형식을 띄고 잇음**

In [70]:
a

'hello,world,nice,weather'

####  4. slicing
   * 문자열 슬라이싱과 동일하게 동작

In [73]:
a = [1,2,3,4,5,6,7]

print(a[4:6])
print(a[:6])
print(a[:])

[5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

  * [start:end:increment]
  * increment는 건너뛰는 간격임 (default : 1)

In [79]:
print(a[1:6:2]) 
# 2 <= print(a) < 7인 상태에서 
# =>>>>>> 2,(3),4,(5),6

[2, 4, 6]

## 8강 컬렉션 타입 이해-2(List)

### list멤버 함수
* 생성된 리스트 객체에 동작하는 함수

생각해보자,  
> **'list에 어떻게 값을 추가하지???'**

**append()**
* 값 추가

In [97]:
a = [1, 2, 3, 4, 5]
print(a)
a.append(10)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10]

**extend()**
* 리스트를 연장 
* += 로도 가능
* 바로 덮어씌어 짐.. 
> <p>리스트에 리스트를 추가하고 싶은데?</p>

In [89]:
b = [4, 5, 6, 7]
a.append(b)
print(a)

[1, 2, 3, 4, 5, 10, [4, 5, 6, 7], [4, 5, 6, 7], [4, 5, 6, 7], [4, 5, 6, 7], [4, 5, 6, 7], [4, 5, 6, 7]]

In [98]:
a.extend(b)
print(a)
a+=b
print(a)

[1, 2, 3, 4, 5, 10, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 10, 4, 5, 6, 7, 4, 5, 6, 7]

#### insert()로 항목 추가 
* 리스트의 원하는 위치에 추가 기능 
* insert(위치, 값)

In [101]:
a.insert(5,100)
print(a)

[1, 2, 3, 4, 5, 100, 100, 100, 10, 4, 5, 6, 7, 4, 5, 6, 7]

#### remove()
* 값으로 항목삭제
* 중복 값이 있으면 가장 선두에 있는것 제거
* 원하는 값이 없는 경우 오류 발생

In [104]:
a.remove(100) 
print(a)

[1, 2, 3, 4, 5, 10, 4, 5, 6, 7, 4, 5, 6, 7]

#### pop()
* 지우고자 하는 아이템 변환 후 삭제
* default는 가장 마지막에 있는것 제거

In [105]:
print(a)
a.pop()
print(a)
a.pop(2)
print(a)
z = a.pop(3)
print(a)
print(z)

[1, 2, 3, 4, 5, 10, 4, 5, 6, 7, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 10, 4, 5, 6, 7, 4, 5, 6]
[1, 2, 4, 5, 10, 4, 5, 6, 7, 4, 5, 6]
[1, 2, 4, 10, 4, 5, 6, 7, 4, 5, 6]
5

#### index()
* 찾고자 하는 값의 인덱스 반환

In [106]:
a.index(4)

2

#### in키워드

In [107]:
a = [1, 2, 3, 4, 5, 6, 10]
b = 8
k = 5

c = b in a
x = k in a
print(c)
print(x)

False
True

#### list정렬
* **sort() -> 리스트 자체를 내부적으로 정렬**
* **sorted() -> 리스트의 정렬된 복사본 반환**

In [112]:
a = [9,2,3,14,2,3,12,4,5,6]
a.sort()
print(a)
a.sort(reverse = True)
print(a)
print(sorted(a))

b = a.sort() # 반환 X
c = sorted(a, reverse = True)
print(a)
print(b)
print(c)

[2, 2, 3, 3, 4, 5, 6, 9, 12, 14]
[14, 12, 9, 6, 5, 4, 3, 3, 2, 2]
[2, 2, 3, 3, 4, 5, 6, 9, 12, 14]
[2, 2, 3, 3, 4, 5, 6, 9, 12, 14]
None
[14, 12, 9, 6, 5, 4, 3, 3, 2, 2]